<div class="navigation w-100">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          
          {% for item in site.data.nav.items %}
          {% if item.dropdown %}
          <li class="nav-item dropdown view">
            <a class="nav-link dropdown-toggle" href="#" id="{{item.dropdown.id}}"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{item.text}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="{{item.dropdown.id}}">
              {% for dditem in item.dropdown.items %}
              <li>
                {% if dditem.link %}
                <a href="{% link {{dditem.link}} %}" class="dropdown-item">{{dditem.text}}</a>
                {% elsif dditem.href %}
                <a href="dditem.href" class="dropdown-item">{{dditem.text}}</a>
                {% elsif dditem.text %}
                {{dditem.text}}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
              {% elsif item.link %}
              <li class="nav-item active">
                <a class="nav-link" href="{% link {{item.link}} %}">{{item.text}}</a>
            {% elsif item.href %}
              <li class="nav-item active">
                <a class="nav-link" href="{{item.href}}">{{item.text}}</a>
            {% elsif item.text %}
              <li class="nav-item active">
                {{item.text}}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>
